.form-container {
    margin: auto;
    display: block;
    width:500px;
    text-align:center;
  }
  
  body{
    margin: 0 auto;
    font-family: Arial;
    background-color: dimgrey;
    color: white;
  }
  
  .form-container input{
    margin-bottom:10px;
  }
  