* {
  box-sizing: border-box;
}

/* Style the tab */
.tabswitcher {
  width: 50vw;
}

.tab {
  display: grid;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  grid-template-columns: auto auto auto;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75em 0.75em;
  transition: 0.3s;
  font-size: 1em;
  font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  height: calc(100vh - 12em);;
  display: none;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-top: none;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

form.example input[type=text] {
  color: black;
  font-weight: 500;
  max-height: 2em;
  padding: 1em;
  font-size: 1em;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-bottom: 1em;
}

form.example button {
  max-height: 2em;
  float: left;
  width: 20%;
  padding: 1em;
  background: rgb(45,45,45);
  background: linear-gradient(90deg, rgb(26 94 217) 0%, rgb(23 99 195) 32%, rgba(0,212,255,1) 100%);
  color: white;
  font-size: 1em;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-bottom: 1em;
}

form.example button:hover {
  background: #0773cc;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example fieldset {
  height: 24em;
}

.userInfo {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

#item-1,
#item-2{
  display: flex;
  flex-direction: column; 
}


#item-1 {
  align-items: center;
}

#item-2{
  overflow-y: auto;
}

#item-1 img{
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 11vw;
  border-radius: 50%;
}


#item-1 button{
  background-color: #575757; 
  min-width: 8em;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#item-1 button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#item-2 label{
  color: #646464;
  margin: 0.15em;
  font-weight: 500;
}

#item-2 input,select{
  color: black;
  margin-bottom: 0.25em;
  padding: 0.5em;
  font-weight: 500;
  margin-right: 1em;
}

.fa-search{
  position: fixed;
  top: 10.4em;
}

.btnGroup{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.canvasData{
  position: relative;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto auto auto;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  background: #222222;
  border-radius: 2em;
}

canvas{
  margin:auto;
  width:100%;
  max-width: 20vw;
}

canvas #doughnut{
  grid-column-start: 0;
  grid-row-start: 0;
}

canvas #bar{
  grid-column-start: 1;
  grid-row-start: 0;
}

canvas #pie{
  grid-column-start: 2;
  grid-row-start: 1;
}

.adjust-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5em;
}

.fa-search {
  position: relative;
  top: -0.6em;
}