header {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header .fill-container, footer .fill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25em;
    padding: 1.2em;
    background-color: var(--White-1);
    font-weight: 500;
}

header .fill-container {
    font-size: 1.1em;
    width: 100%;
}
footer .fill-container {
    font-size: 1em;
}

.left, .middle, .right {
    display: flex;
    flex: 1 1 0;
    gap: 2em;
}
.left{
    justify-content: flex-start;
    gap: 0.5em;
}

.middle {
    justify-content: center;
}
.right {
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: var(--Black-1);
    white-space: nowrap;
}

a:hover {
    color: var(--Highlight);
}

.settings {
    gap: 1em;
}

main {
    margin-top: 6.5em;
}

footer {
    background-color: aquamarine;
}

#view-edit-btn {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 3em;
    height: 3em;
}

#save-edit-btn {
    color: var(--White-1);
    position: fixed;
    bottom: 6em;
    right: 2em;
    width: 3em;
    height: 3em;
}

#search {
    position: relative;
}

#search-modal {
    position: absolute;
    left: 0;
    bottom: -0.5em;
}

#username{
    border-radius: 0.5em;
    color: rgb(17, 17, 17);
    padding: 0.35em;
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgb(26 94 217) 0%, rgb(23 99 195) 32%, rgba(0,212,255,1) 100%);;
}

span #username:hover{
    opacity: 30%;
    border-radius: 0.5em;
    color: rgb(17, 17, 17);
    padding: 0.35em;
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgb(26 94 217) 0%, rgb(23 99 195) 32%, rgba(0,212,255,1) 100%);;
}