
.bordered-section {
    border: 1px var(--White-1) solid;
    padding: 2em;
    margin: 5em 0;
}

.comment-header {
    display: flex;
    gap: 1em;
}

.main-comment {
    max-width: 12em;
}

.child-comments {
    margin-left: 3em;
}