
.bordered-section {
    border: 1px var(--White-1) solid;
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.comment-header {
    display: flex;
    gap: 1em;
}

.main-comment {
    max-width: 20em;
}

.child-comments {
    margin-left: 3em;
}