
.bordered-section {
    border: 1px var(--White-1) solid;
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.comment-header {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.main-comment {
    max-width: 20em;
}

.child-comments {
    margin-left: 3em;
}

.profile-picture {
    aspect-ratio: 1;
    width: 2.5em;
    height: 2.5em;
}