@keyframes rainbow-animation {
  to {
      background-position: 4500vh;
  }
}

@media only screen and (min-width: 1600px) {
  main{
    min-height: 82vh;
    overflow: hidden;
  }
} 

@media only screen and (max-width: 1600px) {
  main{
    min-height: 77vh;
    overflow: hidden;
  }
} 
.auth-container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5em;
}

@media only screen and (min-width: 1600px) {
  .login-info{
    max-width: 40em;
  }
}

@media only screen and (max-width: 1600px) {
  .login-info{
    max-width: 40em;
  }
}

.login-info h1{
    font-size: 1.25em;
    color: #646464;
}

.login-info h2{
    font-weight: 800;
    font-size: 4em;
    background-image: 
    linear-gradient(to right, rgb(0, 195, 255),rgb(0, 140, 255),rgb(0, 110, 255),rgb(0, 119, 255),rgb(0, 204, 255),rgb(0, 162, 255)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 80s linear infinite;
}


.login-info p{
    width: fit-content;
    margin-top: 1.5em;
    font-size: 1.25em;
    font-weight: 400;
    color: #646464;
}

.login-info .info-footer{
  display: grid;
  grid-template-columns: 14em 3em 10em;
}

.login-info .info-footer p{
  white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  color: #050505;
}

.login-box{
  height: fit-content;
  width: fit-content;
  display: grid;
  white-space:nowrap;
}


.login-box form{
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 20em;
  row-gap: 1em;
}  

.login-box form .item-1,.item-2,.item-3{
  grid-column-start: 1;
}

.login-box form .item-4{
  width: fit-content;
  grid-column-start: 2;
}

.login-box form .item-1,.item-2 input{
  position: relative;
}

.login-box .item-1, .item-2, .item-3{
  position: relative;
}

.login-box input {
    margin-top: 1em;
    border: none;
    width: 170%;
    font-size: 1em;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
  }

.errorText{
  margin-bottom: 1em;  
}  

.login-box input[type=reset] {
    width: fit-content;
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
  
  }
  
.login-box input[type=submit] {
    float: right;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em 7.5em 0.5em 5em;
    color: white;
    width: 60%;
    background: black;
  
  }

.login-box input[type=submit]:hover {
    background: rgb(75, 75, 75);
  
  }

.login-box input[type=reset]:hover {
    color: rgb(75, 75, 75);
    
  }

.login-box label{
    font-weight: 500;
    font-size: 1.15em;
    color: #050505;
  }


  a:link, a:active, a:visited{
    text-decoration: none;
    color: #050505;
  }

  a:hover{
    text-decoration: none;
    color: #15a1ff; 
  }

  .box-footer{
    display: grid;
    grid-template-columns: 20em 20em;
  }

  .box-footer input[type = reset]{
    white-space: nowrap;
  }

  .box-footer p{
    white-space: nowrap;
    color: #050505;
  }

  .box-footer input[type = submit]{
    white-space: nowrap;
  }


  /* Sign Up Page*/

.register-box{
    float: right;
    position: relative;
    height: fit-content;
    width: fit-content;
    display: grid;
    white-space:nowrap;
    
}

.register-box input {
  margin-top: 1em;
  border: none;
  width: 100%;
  font-size: 1em;
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.register-box input[type=reset] {
  width: fit-content;
  display: flex;
  border: none;
  background: none;
  font-size: 1em;
  width: fit-content;
  cursor: pointer;
}

.register-box input[type=submit] {
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.75em 2em;
  color: white;
  background: black;
  cursor: pointer;
}

.register-box input[type=submit]:hover {
  background: rgb(75, 75, 75);
  cursor: pointer;
}

.register-box input[type=reset]:hover {
  color: rgb(75, 75, 75);
  cursor: pointer;
}


.register-box label{
  font-weight: 500;
  font-size: 1em;
  color: #050505;
}
.register-box .item-1, .item-2, .item-3{
  position: relative;
}


.register-box form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
  row-gap: 1em;
}

.item-8 input{ 
  float: right;
}

select{
  margin-top: 1em;
  padding: 5px;
  width: 100%;
  height: 2.25em;
  border-radius: 5px;
}

.register-box .submission-box{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.register-box form .item-1,.item-3,.item-5, .item-7{
  grid-column-start: 1;
}

.register-box form .item-2,.item-4,.item-6, .item-8{
  grid-column-start: 2;
}

@media only screen and (max-width: 1600px) {
  .register-info{
    max-width: 90vw;
  }
}

.register-info h1{
  font-size: 1.25em;
  color: #646464;
}

.register-info h2{
  font-weight: 800;
  font-size: 4em;
  color: #050505;
  background-image: 
  linear-gradient(to right, rgb(0, 195, 255),rgb(0, 140, 255),rgb(0, 110, 255),rgb(0, 119, 255),rgb(0, 204, 255),rgb(0, 162, 255)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 80s linear infinite;
}

.register-info p{
  width: fit-content;
  margin-top: 1.5em;
  font-size: 1.25em;
  font-weight: 400;
  color: #646464;
}

.register-info .info-footer{
  display: flex;
  column-gap: 3em;
}

.register-info .info-footer p{
  white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  color: #050505;
}

.errorLogoLogin{
  visibility: hidden;
  position: absolute;
  color: #ff0000;
  top: 2em;
  left: 33em;
  z-index: 10;
}

.errorTextLogin{
  visibility: hidden;
}


.errorLogoRegister{
  visibility: hidden;
  position: absolute;
  color: #ff0000;
  right: 0.5em;
  z-index: 10;
}

.errorTextRegister{
  visibility: hidden;
}

.showError{
  visibility: visible;
  transition : "visibility 0s linear 0s, opacity 300ms";
  margin-top: 0.25em;
  color: red;
}