* {
    font-family: 'Helvetica Now Display';
    --Black-1: #050505;
    --Black-2: #141414;
    --Black-3: #1B1B1B;
    --White-1: #FFFFFF;
    --White-2: #F3F3F3;
    --White-3: #E1E1E1;
    --Grey-1: #646464;
    --Grey-2: #C2C2C2;

    --Black-Overlay: rgba(5, 5, 5, 0.5);

    --Green: #219653;
    --Red: #EB5757;
    --Highlight: #46e9ff;
}

.container {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.horizontal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.fit-width {
    width: fit-content;
}

.hidden {
    display: none;
}

i {
    color: var(--Black-1);
}

.show {
    display: block;
}

.panel {
    margin-left: auto;
    margin-right: auto;
    padding: 0 7em;
    max-width: 1720px;
}

.medium-spacing {
    margin: 1em 0;
}   


.icon-overlay {
    background-color: var(--Black-Overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}

.icon-overlay img {
    width: 40%;
    height: 40%;
    aspect-ratio: 1;
    transition: 0.3s;
    text-decoration: none;
    color: var(--White-3);
    transform: scale(1);
}

.icon-overlay:hover{
    background-color: var(--Black-1);
}

.icon-overlay:hover img{
    transform: scale(0.9);
}

.top-spacing {
    margin-top: 2em;
}

.relative-container {
    position: relative;
}

.absolute-container {
    position: absolute;
}